
{%extends 'layout.html'%}
{% load my_tags %}
{% block page_title %}
  {{photo.user.username}}님의 사진입니다
{%endblock%}

{% block body%}
  <p>{{photo.user}}</p>
  <p>{% helloworld 'a' 'b' 'c' 'd' name="key" nickname="value" %}</p>
  <img src="http://localhost:8000{{photo.image.url}}">
  </br>
  <p>{{photo.description}}</p>
  <div>
    {% if photo|did_like:request.user %}
    좋아요 취소
    {% else %}
    좋아요
    {% endif %}
  </div>
  <a href="{% url 'photos:delete_photo' pk=photo.pk %}" class = "btn btn-danger btn-sm" >
    게시물 삭제 <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span></a></br>
    ---------------------------------------------
    {% for comment in comments %}

      <p>{{comment.content}}
        <p align = "right">
          {{comment.created_at}}
          <a href="{% url 'photos:delete_comment' pk=comment.pk %}" class = "btn btn-danger btn-sm" hidden = "true">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span></a>
        </p>
      </p>
    {% endfor %}
    </div>


    <form method="POST" action="{% url 'photos:create_comment' pk=photo.pk %}">
        {% csrf_token %}
        <p>
        <input type="text" name="content" value="" size ="147"/>
        <button type="submit" class = "btn btn-warning btn-sm">댓글 달기</button>
        </p>

        <p>

        </p>
    </form>

{% endblock%}
